<h1>Trending</h1>
<div class="grid grid-pad">
  <div *ngFor="let project of projects" [routerLink]="['/detail', project.id]" class="col-1-4">
    <!--<div class="module project">-->
      <!--<h4>{{project.title}}</h4>-->
    <!--</div>-->
    <a href="default.asp">
      <img src="{{project.thumbnail}}" style="width:450px;">
      <h2>{{project.title}}</h2>
      <p>{{project.name}}</p>
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
        {{project.progress * 100}}%
      </div><br>
      <p>{{project.date}}</p>
    </a>
  </div>
</div>

<h3>Need more volunteers</h3>
