<div *ngIf="project">

  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <img src="{{project.thumbnail}}">
      </div>
      <div class="col-md-5">
        <h2>{{project.title}}</h2>
        <p id="tagline"> {{category.name}} | Created by {{project.userName}}</p><br>
        <div class="dateDiv">
          <img id="calendarIcon" src="./../../assets/icons/calendar.png">
          <span>{{project.date}}</span> <br />
          <span>{{project.timeOfEvent}}</span>
        </div><br>

        <div class="locationDiv">
          <img id="locationIcon" src="./../../assets/icons/pin2.png">
          <span>{{project.locationName}}</span><br />
          <span>{{project.address}}</span>
        </div><br>
        <div class="timeDiv">
          <img id="timeIcon" src="./../../assets/icons/clock.png">
          <span>{{project.timeLeft}} days left to sign up</span>
        </div><br><br>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
            {{project.progress * 100}}%
          </div>
        </div>
        <span>{{project.neededVol}} more volunteers needed!</span>
        <!--   <div>
          <label>Comment: </label>
          <input [(ngModel)]="project.title" placeholder="title" />
        </div> -->
        <br>
        <button class="helpButton">HELP OUT</button>
      </div>
    </div>
    <h3 class="detailsHeader">Details</h3>
    <span class="prjDesc">{{project.description}}</span>
    <h3 class="tagsHeader">Tags</h3>
    <div class="tagButtons">
    <button>{{project.tag.split(",")[0]}}</button>
    <button>{{project.tag.split(",")[1]}}</button>
    </div>
    <!--<span id="tags"></span>-->
    <!--<script>-->
      <!--var tagList = project.tag.split(",");-->
      <!--for(i = 0; i < tagList.length; i++) {-->
        <!--<button>tagList[i]</button>;-->
      <!---->
    <!--</script>-->
  </div>
  <!-- <button (click)="goBack()">Back</button> -->
</div>
