<nav>
    <a routerLink="/home" routerLinkActive="active" class="logo">IMPRINT</a>
    <input type="text" name="projectSearch" placeholder="Search for a project or event...">
    <a routerLink="/explore" routerLinkActive="active">Explore Projects</a>
    <a routerLink="/create" routerLinkActive="active">Create a Project</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
  	<a routerLink="/registration" routerLinkActive="active">Sign Up/Log In</a>
</nav>
<router-outlet></router-outlet>