/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'circular-std-book';
    src: url('assets/fonts/circular-std-book.otf'); /* Legacy iOS */
}
@font-face {
    font-family: 'circular-std-medium';
    src: url('assets/fonts/circular-std-medium.ttf'); /* Legacy iOS */
}
@font-face {
    font-family: 'circular-std-bold';
    src: url('assets/fonts/circular-std-bold.otf'); /* Legacy iOS */
}
html {
  padding-bottom: 100px;
}
body {
    font-family: 'circular-std-book';
    max-width: 100%;
    overflow-x: hidden;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 400px;
}
nav {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0px;
    margin-left: -65px;
    padding-top: 7.5px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #fafafa;
    height: 80px;
    width: 120%;
    vertical-align: center;
    -webkit-box-shadow: 0 8px 6px -6px #d6d6d6;
    -moz-box-shadow: 0 8px 6px -6px #d6d6d6;
    box-shadow: 0 8px 6px -6px #d6d6d6;
}
nav a {
    padding: 5px 20px;
    color: #000000;
}
nav .logo {
    padding-top: 7.5px;
    color: #000000;
}
nav._ngcontent-c0, a.active._ngcontent-c0 {
    color: #000000;
    padding-left: 130px;
}
.h2, h2 {
    font-family: 'circular-std-book';
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    text-align: center;
    color: #000000;
    padding-left: 5px;
    font-size: 28px;
}
#motto {
    font-family: 'circular-std-bold';
    font-size: 40px;
    margin-left: 0px;
    margin-top: 50px;
    text-align: center;
}
div.col-lg-4 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 1150px;
    background-color: #ededed;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
}
.col-lg-4 {
  padding-right: 0px;
  padding-left: 0px;
}
.col-lg-4 input {
    border: none;
    display: inline-block;
    float: left;
    padding: 15px;
    font-size: 18px;
    margin-right: 10px;
}
.col-lg-4 input::placeholder {
    color: #969696;
}
.col-lg-4 input[name="projectSearch2"] {
    margin-left: 15px;
    width: 475px;
    font-family: 'circular-std-book';
}
.col-lg-4 input[name="neighSearch"] {
    width: 225px;
}
.col-lg-4 input[name="dateSearch"] {
    width: 185px;
}
.col-lg-4 button {
    width: 175px;
    margin-right: 15px;
    background-color: #000000;
    color: #fff;
    border: none;
    height: 52.5px;
    font-size: 16px;
    font-family: 'circular-std-medium';
}
.h1, h1 {
    margin-top: 50px;
    margin-left: 20px;
    font-family: "circular-std-medium";
}
h1.trendingHeader {
  margin-top: 150px;
}
.grid .grid-pad {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
div.col-1-4 {
    width: 100px;
    text-align: center;
/*    border-style: solid;
    border-width: 1px;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: auto;
    padding-right: auto;
}
.inner {
    border-color: #e0e0e0;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    width: 95%;
    height: 90%;
    padding-left: 10px;
    padding-right: 10px;
}
.inner p {
  font-size: 14px;
}
div.col-1-4 img {
/*    display: block;
    margin-left: auto;
    margin-right: auto;*/
    margin-top: 10px;
    width: 99%;
    height: 99%;
}
div.progress-bar {
    display: block;
    margin: 0 auto;
    background-color: #6DE4D0;
    height: 30px;
    float: left;
    font-size: 14px;
    font-family: 'circular-std-book';
    width:90%;
/*    border-style: solid;
    border-width: 2px;
    border-color: #000000;*/
}
div.col-1-4 p {
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
    padding-top: 14px;
}
project-detail img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 40px;
}
project-detail h2 {
  margin-top: 45px;
  font-family: 'circular-std-medium';
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}
project-detail #tagline {
  font-size: 16px;
  text-align: center;
}
<<<<<<< Updated upstream
div.dateDiv, div.locationDiv, div.timeDiv {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 250px;
  text-align: left;
  margin-top: 10px;
}
project-detail #calendarIcon, #locationIcon, #timeIcon {
  margin-top: 0px;
  float: left;
  height: 40px;
  width: 40px;
}
h3, .h3 {
  font-family: 'circular-std-medium';
  font-size: 36px;
}
.detailsHeader {
  margin-top: 75px;
}
.tagsHeader {
  margin-top: 50px;
}
.tagButtons {
  margin-left: 5px;
}
div.tagButtons button {
  background-color: #000;
  font-family: 'circular-std-book';
  font-size: 15px;
  color: #fff;
  padding: 12.5px;
  margin-right: 5px;
  border-radius: 0px;
}
div.tagButtons button:hover {
  background-color: #444;
}
.col-md-4 button.helpButton {
  background-color: #000;
  font-family: 'circular-std-medium';
  font-size: 22px;
  color: #fff;
  padding: 15px;
  margin-right: 5px;
  border-radius: 0px;
}
.prjDesc {
  font-size: 16px;
  font-family: 'circular-std-book';
}
=======

.col-1-4 {
    padding: 30px;
}

