<div class="container">
  <div class="row">
    <div *ngIf="step==1">
      <h2> Step: {{step}} Enter Detail </h2>
      <div style="padding-left: 10px;">
        <h3>Project Name</h3>
        <input [(ngModel)]="project.title" placeholder="Enter Title" />
      </div>
      <div style="padding-left: 10px;">
        <h3>Category</h3>
        <p>Select a category that best represents your project:</p>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{category.name}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div *ngFor="let c of categories">
              <a class="dropdown-item" (click)="onSelect(c)">{{c.name}}</a>
            </div>
          </div>
        </div>
      </div>

      <div style="padding-left: 10px;">
        <h3>Short description</h3>
        <!-- <p>Describe your project in 200 words:</p> -->
        <input [(ngModel)]="project.description" placeholder="Enter description" />
      </div>

      <div style="padding-left: 10px;">
        <h3>Project date &amp; time</h3>
        <input [(ngModel)]="project.date" placeholder="04/12/2017" />
        <img src="./../../assets/icons/calendar.png" style="width:32px;height:32px;">
      </div>

      <div style="padding-left: 10px;">
        <h3>Location</h3>
        <input [(ngModel)]="project.address" placeholder="Street, APT, etc." />
        <img src="./../../assets/icons/pin2.png" style="width:32px;height:32px;"> <br/>
        <input [(ngModel)]="project.address" placeholder="City, state" />
      </div>

      <div style="padding-left: 10px;">
        <h3>Image</h3>
        <p>Upload an image for your project's thumbnail:</p>
        <input [(ngModel)]="project.thumbnail" placeholder="Image URL" />
      </div>
      <br/>
      <button (click)="nextStep()">Save &amp; Continue</button>
    </div>

    <div *ngIf="step==2">
      <h2> Step: {{step}} Resources </h2>
      <div style="padding-left: 10px;">
        <h3>Funding</h3>
        <p>Add the amount of funding you will need:</p>
        <div *ngFor="let resource of project.resources">
          <div *ngIf="resource.type=='funding'">
            <input [(ngModel)]="resource.name" placeholder="E.g. Food&Drink" />
            <input [(ngModel)]="resource.ideal_number" placeholder="E.g. $5" />
            <!-- <img src="./../../assets/icons/Delete.svg" style="width:20px;height:20px;" (click)="deleteResource(resource.id)"> -->
          </div>
        </div>
        <div (click)="newResource('funding')" style="padding-top: 5px">
          <img src="./../../assets/icons/Add.svg" style="width:20px;height:20px;"> New resource
        </div>
      </div>

      <div style="padding-left: 10px;">
        <h3>Volunteers</h3>
        <p>Add the number of volunteers you will need:</p>
        <div *ngFor="let resource of project.resources">
          <div *ngIf="resource.type=='volunteer'">
            <input [(ngModel)]="resource.name" placeholder="E.g. Clean up" />
            <input [(ngModel)]="resource.ideal_number" placeholder="E.g. 5" />
            <!-- <img src="./../../assets/icons/Delete.svg" style="width:20px;height:20px;" (click)="deleteResource(resource.id)"> -->
          </div>
        </div>
        <div (click)="newResource('volunteer')" style="padding-top: 5px">
          <img src="./../../assets/icons/Add.svg" style="width:20px;height:20px;"> New resource
        </div>
      </div>

      <div style="padding-left: 10px;">
        <h3>Donation</h3>
        <p>Add the number of donation you will need:</p>
        <div *ngFor="let resource of project.resources">
          <div *ngIf="resource.type=='donation'">
            <input [(ngModel)]="resource.name" placeholder="E.g. can food" />
            <input [(ngModel)]="resource.ideal_number" placeholder="E.g. 3" />
            <!-- <img src="./../../assets/icons/Delete.svg" style="width:20px;height:20px;" (click)="deleteResource(resource.id)"> -->
          </div>
        </div>
        <div (click)="newResource('donation')" style="padding-top: 5px">
          <img src="./../../assets/icons/Add.svg" style="width:20px;height:20px;"> New resource
        </div>
      </div>
      <div style="padding-top: 20px"></div>
      <button (click)="previousStep()">Back</button>
      <button (click)="nextStep()">Preview Project</button>
    </div>

    <div *ngIf="step==3">
      <h2> Step: {{step}} Preview Project</h2>
      <div class="preview">

        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <img src="{{project.thumbnail}}">
            </div>
            <div class="col-md-4">
              <h2>{{project.title}}</h2>
              <p> {{category.name}} | Created by {{project.userName}}</p>
              <div>
                <img src="./../../assets/icons/calendar.png" style="width:32px;height:32px;">
                <span>{{project.date}}</span> <br />
                <span>{{project.timeOfEvent}}</span>
              </div>
              <div>
                <img src="./../../assets/icons/pin2.png" style="width:32px;height:32px;">
                <span>{{project.locationName}}</span><br />
                <span>{{project.address}}</span>
              </div>
              <div>
                <img src="./../../assets/icons/clock.png" style="width:32px;height:32px;">
                <span>{{project.timeLeft}} days left to sign up</span>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                  {{project.progress * 100}}%
                </div>
              </div>
              <span>{{project.neededVol}} more volunteers needed!</span>
              <br/>
              <button>Help Out!</button>
            </div>
          </div>
          <h3 class="details">Details</h3>
          <span>{{project.description}}</span>
          <h3>Tags</h3>
          <button>{{project.tag.split(",")[0]}}</button>
          <button>{{project.tag.split(",")[1]}}</button>
        </div>

      </div><br/>
      <button (click)="previousStep()">Back</button>
      <button (click)="nextStep()" [routerLink]="['/detail', project.id]">Publish Project</button>
    </div>

  </div>
</div>
<!-- <button (click)="goBack()">Back</button> -->